@import '../utils/_variables';
/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
.header{
	background:#fff;
	width:100%; height: auto;
	min-width: $min-width;
	text-align:left;	
	order: 1;	
    -webkit-order: 1;	
}
/*_____________________________________Логотип_____________________________________*/
.logo {
   	margin: 4px 0 0 70px;
    width: 18.3%;
    &__link {
    	display: block;
    }
}
/*_____________________________________Форма поиска_________________________________*/
.search {
    margin: -1px 0 0 43px;
    width: 36.6%;
}
.search-form {
	position: relative;
	&__input {
		position: relative;
		border: 1px solid #b9b8bd;
		border-radius: 5px;
		height: 40px;
		width: 100%;
		padding: 0 50px 0 8px;
	}
	&__icon {
		background-image: url("../img/input_search_icon.png");
		background-repeat: no-repeat;
		cursor: pointer;
		height: 18px;
		position: absolute;
		right: 1.9%;
		top: 26%;
		width: 18px;
	}
}
/*_____________________________________Контакты_____________________________________*/
.contacts__phone {
    color: #181616;
    font-family: "PT Sans",sans-serif;
    font-size: 22.7px;
    padding: 10px 0 0 90px;
}
/*_____________________________________Расписание_____________________________________*/
.schedule {
    padding: 0 0 0 16px;
    &__time {
    	color: #bc9352;
    	font-family: "PT Sans",sans-serif;
    	font-size: 13.8px;
    	padding: 2px 0 0;
    }
    &__country {
    	color: #2b3056;
    	font-family: "PT Sans",sans-serif;
    	font-size: 13.8px;
    	padding: 0;
    }
}
/*_____________________________________Меню__________________________________________*/
.menu {
	width: 70%;
	&__list {
		list-style-type: none;
		margin: 0 0 0 96px;
	}
	&__item {
		float: left;
		position: relative;
	}
	&__link {
		color: #000;
		display: inline-block;
		font-size: 16px;
		font-weight: bold;
		text-transform: uppercase;
		font-family: "PT Sans", sans-serif;
		&-style1{
			margin: 0 30px 0 0;
		}
		&-style2{
			margin: 0 13px 0 12px;
		}
		&-style3{
			margin: 0 14px 0 12px;
		}
		&-style4{
			margin: 0 9px;
		}
		&-style5{
			margin: 0 12px;
		}
		&-style6{
			margin: 0 10px;
		}
	}
	&__dropDown {
		background-color: #fff;
		border: 1px solid lightgray;
		border-radius: 3px;
		display: none;
		height: 266px;
		left: -40px;
		padding: 12px 0;
		position: absolute;
		top: 45px;
		width: 244px;
		z-index: 100;
		&-style1 {
			background-color: #fff;
			border: 1px solid lightgray;
			border-radius: 3px;
			position: absolute;
			width: 244px;
			z-index: 100;
			display: none;
			height: 155px;
			left: 245px;
			padding: 18px 0 0;
			top: 94px;
		}
	}
	&__dropDownList {
		list-style-type: none;
	}
	&__dropDownListHeader {
		color: #bc9352;
		font-family: "PT Sans",sans-serif;
		font-size: 16px;
		font-weight: bold;
		margin: 0 0 12px 17px;
		text-transform: uppercase;
	}
	&__dropDownItem {
		&:hover{
			background-color: #e9e9e9;
		}
		&-style1 {
			height: 34px;
			padding-top: 8px;
		}
		&-style2 {
			height: 29px;
			padding-top: 4px;
		}
		&-style3 {
			height: 27px;
			padding-top: 5px;
		}
		&-style4 {
			height: 33px;
			padding-top: 8px;
		}
		&-style5 {
			height: 30px;
			padding-top: 5px;
		}
		&-style6 {
			height: 34px;
			padding-top: 5px;
		}
		&-style7 {
			height: 44px;
			padding-top: 1px;
		}
	}
	&__dropDownLink {
		display: block;
		font-size: 15px;
		color: #666666;
		font-family: "PT Sans",sans-serif;
		margin: 0 31px;
		line-height: 19.1px;
		&-style1{
			&::before {
				background-image: url("../img/circle_icon.png");
				background-repeat: no-repeat;
				content: "";
				cursor: default;
				height: 6px;
				left: 15px;
				position: absolute;
				top: 26px;
				width: 6px;
			}
			&::after {
				background-image: url("../img/catalog_right_icon.png");
				background-repeat: no-repeat;
				content: "";
				height: 11px;
				left: 219px;
				position: absolute;
				top: 23px;
				width: 7px;
			}
		}
		&-style2{
			&::before {
				background-image: url("../img/circle_icon.png");
				background-repeat: no-repeat;
				content: "";
				cursor: default;
				height: 6px;
				left: 15px;
				position: absolute;
				top: 56px;
				width: 6px;
			}
		}
		&-style2_1{
			margin: -1px 0 0 34px;
			&::before {
				background-image: url("../img/circle_icon.png");
				background-repeat: no-repeat;
				content: "";
				cursor: default;
				height: 6px;
				left: 17px;
				position: absolute;
				top: 55px;
				width: 6px;
			}
		}
		&-style2_2{
			margin: 0 0 0 33px;
			&::before {
				background-image: url("../img/circle_icon.png");
				background-repeat: no-repeat;
				content: "";
				cursor: default;
				height: 6px;
				left: 17px;
				position: absolute;
				top: 85px;
				width: 6px;
			}
		}
		&-style2_3{
			margin: 0 0 0 33px;
			&::before {
				background-image: url("../img/circle_icon.png");
				background-repeat: no-repeat;
				content: "";
				cursor: default;
				height: 6px;
				left: 17px;
				position: absolute;
				top: 115px;
				width: 6px;
			}
		}
		&-style3{
			&::before {
				background-image: url("../img/circle_icon.png");
				background-repeat: no-repeat;
				content: "";
				cursor: default;
				height: 6px;
				left: 15px;
				position: absolute;
				top: 86px;
				width: 6px;
			}
		}
		&-style4{
			&::before {
				background-image: url("../img/circle_icon.png");
				background-repeat: no-repeat;
				content: "";
				cursor: default;
				height: 6px;
				left: 15px;
				position: absolute;
				top: 116px;
				width: 6px;
			}
			&::after {
				background-image: url("../img/catalog_right_icon.png");
				background-repeat: no-repeat;
				content: "";
				height: 11px;
				left: 219px;
				position: absolute;
				top: 113px;
				width: 7px;
			}
		}
		&-style5{
				&::before {
				background-image: url("../img/circle_icon.png");
				background-repeat: no-repeat;
				content: "";
				cursor: default;
				height: 6px;
				left: 15px;
				position: absolute;
				top: 146px;
				width: 6px;
			}
		}
		&-style6{
			&::before {
				background-image: url("../img/circle_icon.png");
				background-repeat: no-repeat;
				content: "";
				cursor: default;
				height: 6px;
				left: 15px;
				position: absolute;
				top: 176px;
				width: 6px;
			}
		}
		&-style7{
				&::before {
				background-image: url("../img/circle_icon.png");
				background-repeat: no-repeat;
				content: "";
				cursor: default;
				height: 6px;
				left: 15px;
				position: absolute;
				top: 206px;
				width: 6px;
			}
		}
		
	}
}
.fa-angle-down {
	color: #cb944c;
    display: inline-block;
    font: 20px/1 FontAwesome;
    position: absolute;
    right: 5%;
    text-rendering: auto;
    top: -3px;
    cursor: pointer;
}
.fa-list {
	color: #cb944c;
    display: inline-block;
    font: 18px/1 FontAwesome;
    left: -17%;
    position: absolute;
    text-rendering: auto;
    top: 1px;
}
/*_____________________________________Корзина__________________________________________*/
.trash {
    position: relative;
    width: 18%;
}
.trash__icon {
	background-image: url("../img/trash_icon.png");
    background-repeat: no-repeat;
    height: 23px;
    left: 32px;
    padding: 0;
    position: absolute;
    top: -3px;
    width: 23px;
}
.trash__iconGoods {
    background-color: #cb944c;
    border-radius: 50%;
    color: white;
    font-family: "PT Sans",sans-serif;
    font-weight: bold;
    height: 23px;
    left: 67px;
    padding: 2px 1px 0 0;
    position: absolute;
    text-align: center;
    top: -3px;
    width: 23px;
}
.trash__goods{
	color: #252a54;
    font-family: "PT Sans",sans-serif;
    font-size: 14.9px;
    font-weight: bold;
    line-height: 1;
    margin: 2px 0 0 97px;
    padding: 0;
    text-transform: uppercase;
}
.trash__price {
    font-size: 15.7px;
    margin: 0 0 0 2px;
}
/*_____________________________________Кнопка авторизации______________________________________*/
.auth {
	position: relative;
    width: 12%;
	&__link {
		color: #252a54;
		display: block;
		font-family: "PT Sans",sans-serif;
		font-size: 16.4px;
		font-weight: bold;
		margin: 0 0 0 43px;
		padding: 1px 0 0;
		text-transform: uppercase;
	}
	&__icon {
		background-image: url("../img/auth_icon.png");
		background-repeat: no-repeat;
		height: 23px;
		left: 16px;
		padding: 0;
		position: absolute;
		top: 0;
		width: 23px;
	}
}
/*_____________________________________Разделители блоков______________________________________*/
hr {
    color: #b9b8bd;
    margin: 0 auto;
    width: 1242px;
}
@media screen and (max-width: 1200px) {
	
}

@media screen and (min-width: 992px){
	
}

@media screen and (max-width: 991px) {
	
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	
}

@media screen and (max-width: 767px) {
	
}
